//-
	Main template

//- Includes libraries of mixins
include library

!!!5
html(lang="en")
	head
		meta(charset="utf-8")
		title Title
		//-	Calls local scripts
		block template-head
	body
		header.page-header
			h1.header-title: a(href="#" title="Heading Title") Heading Title
			nav.header-nav
				p Header Nav
		.page-body
			//- Calls local content
			block template-body
		footer.page-footer
			nav.footer-nav
				p Footer Nav